*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk

*.glsdefs

*.brf

*.sublime-project

*.sublime-workspace

*.fls

*.txt

*.SyncTemp

*.tiff

disclosure_game.pdf

*.gz(busy)

.ipynb_checkpoints/Untitled-checkpoint.ipynb

.ipynb_checkpoints/Agent example calulations-checkpoint.ipynb

Untitled.ipynb
